[Unit]
Description=Gestion automatique des enceintes Bluetooth
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
User=pi
ExecStart=/home/pi/raspberry_bluetooth_autoconnect/bt-manager.sh
Restart=always

# Désactiver la sandbox systemd
PrivateTmp=no
ProtectSystem=off
ProtectHome=off
PrivateDevices=no

# Autoriser l'accès au contrôleur Bluetooth
DeviceAllow=/dev/hci0 rw
# Autoriser l'accès aux devices USB
DeviceAllow=/dev/bus/usb/ rw

# Autoriser les capabilities nécessaires à hciconfig
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
